langchain
langchain-openai
dotenv
langchain-google-genai
langchain-anthropic
streamlit
langchain_ollama
langchain-groq
langchain-community
langgraph
pypdf
langchain-unstructured
unstructured
python-magic
unstructured[pdf]
langchain-text-splitters